- @header_title = "BestOf :: Home"
- content_for :header_buttons do
  %a.ui-btn-right{ :href => "/rankings/add", "data-role" => "button", "data-icon" => "add", "data-iconpos" => "right" }
    Add

%h2 Recent Activity
%ul
  - @recent_rankings.each do |rank|
    %li
      = rank.venue.name
      was ranked
      = "##{rank.position}"
