- @header_title = "BestOf :: Home"
- content_for :header_buttons do
  %a.ui-btn-right{ :href => "/rankings/add", "data-role" => "button", "data-icon" => "add", "data-iconpos" => "right" }
    Add

= render :partial => "layouts/lorem"
